@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');


$bg: #CECECE;
$primary: #222222;
$secondary: #F57600;

$alfa: 'Alfa Slab One', cursive;
$montserrat: 'Montserrat', sans-serif;